<section id="achievement">
<div>
  <table>
    <tr>
      <th>
        {{items[0].field1}}
      </th>
      <th>
        {{items[0].field2}}
      </th>
      <th *ngIf="items[0].field3!==''">
        {{items[0].field3}}
      </th>
      <th *ngIf="items[0].descriptionExists==='Y'">
      </th>
    </tr>
    <tr *ngFor="let item of dataItems" (click)="onEntryClicked(item.onClick,item)" [class.active]="item.isActive">
      <td>
        {{item.field1}}
      </td>
      <td>
        {{item.field2}}
      </td>
      <td *ngIf="item.field3!==''">
        <span *ngIf="items[0].field3!=='Proficiency'">
          {{item.field3}}
        </span>
        <a *ngIf="items[0].field3==='Proficiency'">
          <app-dynamic-image [squareCount]=item.field3></app-dynamic-image>
        </a>
      </td>
      <td *ngIf="item.descriptionExists==='Y'">
        <button (click)="openModal(item)">Show Details</button>
      </td>
    </tr>
  </table>
  <app-modal *ngIf="showModal" [selectedRow]="selectedRow"></app-modal>
</div>
</section>
