<div>
  <div class="header">
    <div class="left-cell">
      <a>
        <img src="../../assets/cor-logos.jpeg" class="responsive-image"/>
      </a>
    </div>
    <div class="center-cell">
      <nav>
        <ul>
          <li *ngFor="let menuItem of menu" (click)="setModule(menuItem.menuName, menuItem)" [class.active]="menuItem.isActive">
            <a>{{menuItem.menuName}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-cell">
      <a>
        <img (click)="setIntroModule('introduction')" src="../../assets/me.jpg"  alt="Profile Picture" class="responsive-image" />
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class ="container">
      <div *ngIf="items!==undefined && items[1]!==undefined" class="description">
        <div [ngSwitch]="entryClicked">
          <div *ngSwitchCase=introComponent>
            <app-introduction [items]='items'></app-introduction>
          </div>
          <div *ngSwitchDefault>
            <app-achievement  [items]='items'></app-achievement>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="left-cell">
    <a href="https://github.com/stevenjgodfrey/twosh">
      <img src="../../assets/github.jpg" class="responsive-image"/>
    </a>
  </div>
  <div class="right-cell">
    <a href="https://www.linkedin.com/in/steven-godfrey-025b8324">
      <img src="../../assets/linkedin.png" class="responsive-image"/>
    </a>
  </div>
</div>
</div>
