<div>
  <div class="header">
    <div class="left-cell">
      <a href="https://www.linkedin.com/in/steven-godfrey-025b8324">
        <img src="../../assets/linkedin.png" class="responsive-image"/>
      </a>
    </div>
    <div class="center-cell">
      <nav>
        <ul>
          <li><a (click)="setModule('experience')">Experience</a></li>
          <li><a (click)="setModule('education')">Education</a></li>
          <li><a (click)="setModule('skills')">Skills</a></li>
          <li></li>
        </ul>
      </nav>
    </div>
    <div class="right-cell">
        <img (click)="setModule('introduction')" src="../../assets/me.jpg"  alt="Profile Picture" class="responsive-image" />
    </div>
  </div>
  <div class="main-content">
    <div class ="box">
      <div *ngIf="items!==undefined" class="description">
        <div [ngSwitch]="module">
          <div *ngSwitchCase="'introduction'"><app-introduction [items]='items'></app-introduction></div>
          <div *ngSwitchDefault>
            <app-achievement  [items]='items'></app-achievement>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
