<div>
  <div class="header">
    <div class="left-cell">
      <img src="../../assets/linkedin.png" class="responsive-image"/>
    </div>
    <div class="center-cell">
      <nav>
        <ul>
          <li><a (click)="setModule('experience')">Experience</a></li>
          <li><a (click)="setModule('education')">Education</a></li>
          <li><a (click)="setModule('skills')">Skills</a></li>
          <li></li>
        </ul>
      </nav>
    </div>
    <div class="right-cell">
        <img (click)="setModule('introduction')" src="../../assets/me.jpg"  alt="Profile Picture" class="responsive-image" />
    </div>
  </div>
  <div class="main-content">
    <div class ="box">
      <div class="description">
        <div [ngSwitch]="module">
          <div *ngSwitchCase="'introduction'"><app-introduction></app-introduction></div>
          <div *ngSwitchCase="'experience'"><app-experience></app-experience></div>
          <div *ngSwitchCase="'education'"><app-education></app-education></div>
          <div *ngSwitchCase="'skills'"><app-skills></app-skills></div>
          <div *ngSwitchDefault><app-introduction></app-introduction></div>
        </div>
      </div>
    </div>
  </div>
</div>
