<div id="content" >
  <table>
    <tr>
      <td>
      <ul *ngIf="isVisible=='true'">
        <li>
          <a routerLink="/twosh-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
          <a routerLink="/portfolio" routerLinkActive="active" (click)="setVisible('false')" ariaCurrentWhenActive="page">Portfolio</a>
        </li>
      </ul>
    </td>
      <td>
        <!-- The routed views render in the <router-outlet>-->
        <router-outlet></router-outlet>
      </td>
    </tr>
  </table>
  <footer class="footer">
    <img src="../../assets/linkedin.png" />
  </footer>
</div>
