<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="../styles.css"> <!-- Link to your CSS file -->
</head>

<body>
  <div id="content" >

        <ul *ngIf="isVisible=='true'">
          <li>
            <a routerLink="/twosh-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li>
            <a routerLink="/portfolio" routerLinkActive="active"  (click)="setVisible('false')" ariaCurrentWhenActive="page">Portfolio</a>
          </li>
        </ul>

          <!-- The routed views render in the <router-outlet>-->
          <router-outlet></router-outlet>

  </div>
</body>
