<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content">
    <div class="modal-header">
      <div class="small-cell">
        <a>

        </a>
      </div>
      <div class="center-cell">
        <a>
          {{selectedRow.header}}
        </a>
      </div>
      <div class="small-cell">
        <a>
          <img src="../../assets/cross.jpg" class="responsive-image"/>
        </a>
      </div>
    </div>
    <div *ngIf="selectedRow">
      {{ selectedRow.body1 }}
    </div>
    <br/>
    <div *ngIf="selectedRow">
      {{ selectedRow.body2 }}
    </div>
  </div>
</div>



