/* You can add global styles to this file, and also import other style files */
/* Global Styles */


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Adjust the font family as needed */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  background-color: white;/* #f0f0f0;  Set a background color if desired */
  color: #333;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.left-cell,
.right-cell {
  width: 10%; /* Adjust the width as needed */
}

.small-cell {
  width: 5%; /* Adjust the width as needed */
}

.center-cell {
  flex-grow: 1; /* Allow the center cell to take up remaining space */
  text-align: center;
}



.responsive-image {
  width: 100%; /* Make the image take up 100% of its container width */
  height: auto; /* Maintain the image's aspect ratio */
}

.main-content {
  /* Add margin-top to create space below the fixed header */
  margin-top: 100px; /* Adjust the value based on your header height */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description h1 {
  font-size: 24px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.description p {
  display:flex;
  font-size: 16px;
  margin: 0;
  align-items: left;
  justify-content: left;
}

.p {
  display: flex;
  align-items: left;
  justify-content: left;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

ul {
  padding-left: 20px;
}

/* Menu */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 10px;
}


/* Main Content */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Introduction Section */
#introduction {
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Achievement Section */
#achievement {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.subcomponent {
  margin-top: 5px;
  padding: 5px;
  margin-left: 10px;
  background-color: #d3cccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) rotateX(5deg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  padding: 7px;
  text-align: left;
}

td {
  user-select: text;
  cursor: pointer;
}

th {
  background-color: #565555;
  color: white;
  cursor: default;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr.active {
  background-color: #d3cccc; /* Set the background color you want for the active state */
  /* color: #333;  Set the text color for the active state */
  font-weight: bold;
}

tr:hover {
  background-color: #9d9c9c; /* Set the background color you want for the active state */
  /* color: #333;  Set the text color for the active state */
  /* Add any other styles for the active state */
}

/* Make the first row in the table bold */
tr:first-child th {
  font-weight: bold;
}

li {
cursor: pointer;
}

li.active {
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 40%;
  max-height: 40%;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}





